@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap');
@import "./Glitch.scss";
html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  overflow-x: hidden;
 }

 @font-face {
  font-family: myFirstFont;
  src: url(../assets/Pixelmania.ttf)format("truetype");
}
h1 , h5 , h3, h4{
  font-family: myFirstFont;
}
$c:#02a602;
$b:#002503;
$r:#ff003f;
body{
    margin: 0;
    padding:0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    background-image: linear-gradient(to bottom,$b,2%,#000000);
}
.close-container{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  #close{
    color: #02a602ab;
    font-size: medium;
  }
}
#headline{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#title{
    width: 30vw;
    justify-content: center;
    padding-left: 10px;
}
#links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
h1{
    font-size: 3rem;
    color:$c;
    font-weight: 600;
    opacity: .2;
}
h5{
    color:$c;
}
h5:hover{
    color:$c;
}
.breaker{
    display: inline-block;
    background-color: $r;
    width: 100vw;
    height: 2px;
    box-shadow: inset 0 0 .5rem 0 $r,
    0 0 .5rem 0 $r;
}
.container{
    height: 80vh;
    width: 100vw;
    background-color: #e7d8be00;
}
.sidenav{
    background-color:#0c1f0600;
    border: 0;
}
#ProjectMenu{
  padding: 0;
  li{
    list-style: none;
    padding:10px;
    color:$c;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    p{
      margin: 0;
    }
  }
  li:hover{
    background-color: #001302;
  }
}