
markdown ::ng-deep li, ::ng-deep a, ::ng-deep h2, ::ng-deep h5, ::ng-deep p, ::ng-deep h1 { 
  font-family: 'VT323', monospace ;
  color:#02a602 !important;
  display: flex;
  flex-wrap: wrap !important;
  width:80vw !important;
  box-sizing: border-box !important;
}

markdown {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  box-sizing: border-box;
}
markdown ::ng-deep code{
  width: 80vw;
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
}
html,body{
  overflow-x: hidden;
 }
 .doc{
   overflow-x: hidden;
   width: 100vw;
 }